.navbar{
    background-color: burlywood;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.navbar .logo {
    width: 100px;
    height: 100px;
}

.categorias{
    display: flex;
    list-style-type: none;
}


.categorias .categoria{
    padding: 0 20px;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
    color: black;
}
.categorias .categoria:hover{
    border-bottom: 5px solid rgb(95, 47, 2);
}